<p style='margin-bottom:6px;'>Bot Commands</p>
<ul>
  <li><b>{{bot_mention}}</b> /hello - simple hello command</li>
  <li><b>{{bot_mention}}</b> /help - displays the list of commands</li>
  <li><b>{{bot_mention}}</b> /create notification - generates details on how to receive notification in this room</li>
  <li><b>{{bot_mention}}</b> /login - returns the HTTP authorization header required to talk to external system</li>
  <li><b>{{bot_mention}}</b> /quote BRL - returns quote for the specified currency (e.g. BRL)</li>
  <li><b>{{bot_mention}}</b> /register quote - displays the currency quote registration form</li>
  <li><b>{{bot_mention}}</b> /template alert {"title": "Title", "content": "Content"} - displays a customized alert</li>
</ul>